.App {
  text-align: center;
  /* background: #282c34; */
}

#container{
  margin-top:3%;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #081329;
  border-radius:64px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

#simonHaut{
  width: 600px;
  height: 300px;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:end;
  margin-bottom: 2px;
}

#simonBas{
  width: 600px;
  height: 300px;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:start;
  margin-top: 2px;
}

#boutonJeu{
  position:absolute;
}

.bleu {
  width: 280px;
  height: 280px; 

  border-radius: 17px 0 0 0;
  margin-right: 2px;
}

.bleuUp{
  background: #000272;
}

.bleuDown{
  background: #0004fc;
}

.jaune {
  width: 280px;
  height: 280px; 
  border-radius: 0 17px 0 0;
  margin-left: 2px;
}

.jauneUp{
  background: #7a6800;
}

.jauneDown{
  background: #ffd900;
}

#vert {
  width: 280px;
  height: 280px; 
  border-radius: 0 0 0 17px;
  margin-right: 2px;
}

.vertUp{
  background: #053800;
}

.vertDown{
  background: #15ff00;
}

#rouge {
  width: 280px;
  height: 280px; 
  border-radius: 0 0 17px 0;
  margin-left: 2px;
}

.rougeUp{
  background: #770000;
}

.rougeDown{
  background: #ff0000;
}

#boutonJeu img{
  width: 172px;

}
